h1 {
	font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans"
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans"
}

body {
	font-size: 14px;
	line-height: 26px;
	color: rgb(52, 51, 51);
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*.main-header {
	background-color: #ffffff;
}
*/
.main-navigation {
	position: relative;
	background-color: #ffffff;
}

.logo {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -70px;
}

.main-navigation ul a {
	color: #000000;
  text-decoration: none;
  font-weight: bold;
  display: block;
  padding: 15px 73px;
}

.main-navigation li:nth-child(2) {
	padding-right: 244px;
}

.main-navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 14px;
	line-height: 26px;
}

.main-background {
	width: 1200px;
	height: 432px; /*по макету 508 ????????*/
	padding-top: 77px;
	text-align: center;
	background-image: url(../img/teeth.png), url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: bottom, 0px -55px;
}

.about-sedona {
	width: 567px;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 35px;
	margin-right: auto;
	margin-left: auto;
}

.about-sedona p{
	padding-top: 15px;
}

.features-item {
	width: 400px;
	float: left;
	text-align: center;
	padding-top: 48px;
	padding-bottom: 48px;
	background-color: #eeeeee;
}

.features-item p {
	padding-left: 59px;
	padding-right: 59px;
}

.features-item-background {
	width: 800px;
	height: 256px;
	float: left;
}

.advantage-item {
	width: 400px;
	float: left;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 64px;
}

.advantage-item p {
	padding-left: 73px;
	padding-right: 73px;
}

.interested {
	width: 576px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.interested h2 {
	font-size: 30px;
	line-height: 24px;
	padding-top: 31px;
	padding-bottom: 10px;
}

.interested p {
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 30px;
}

.search {
	position: relative;
	width: 568px;
	margin-right: auto;
	margin-left: auto;
	background-color: #766357;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 25px;
}

.search a {
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.popup {
	width: 568px;
	position: absolute;
	left: 50%;
	margin-left: -284px;
	background-color: #ffffff;
	display: inline-block;
}

.popup form {
	padding: 55px;
	margin-bottom: 30px;
}

.footer-tag {
	width: 240px;
	float: left;
	padding-top: 50px;
	padding-bottom: 55px;
	padding-left: 130px;
	margin-right: 88px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;

}

.footer-social {
	width: 400px;
	float: left;
	padding-top: 36px;
	text-align: center;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
	margin-right: 4px;
	font-size: 0px;
	vertical-align: top;
	
}

.footer-copyright {
	width: 241px;
	float: right;
	background-color: LightSalmon;
}

.search-options {
	padding-left: 73px;
	float: left;
}

.sorting h2{
	padding-left: 73px;
	display: inline;
}

.arrow-up {
	float: right;
}

.arrow-down {
	float: right;
}

.results-logo{
	width: 135px;
	float: left;
	padding-left: 73px;
	background-color: yellow;
}

.results {
	clear: both;
	outline: 1px solid red;
}

.main-footer {
	outline: 1px solid red;
}

.search-options {
	outline: 1px solid red;
}

.results-about {
	width: 393px;
	float: left;
	background-color: yellow;
}

.results-column {
	float: left;
}

.results-column span {
	display: block;
}

.rating {
	width: 241px;
	float: right;
	background-color: yellow;
}

.blue-item {
	background-color: #81b3d2;
	color: #ffffff;
}

.blue-item h2{
	color: #ffffff;
}