h1 {
	font-size: 21px;
	line-height: 26px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans"
}

h2 {
	font-size: 21px;
	line-height: 21px;
	color: black;
	font-weight: bold;
	font-family: "PT Sans"
}

body {
	font-size: 14px;
	line-height: 26px;
	color: rgb(52, 51, 51);
	font-weight: normal;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/*.main-header {
	background-color: #ffffff;
}
*/
.main-navigation {
	position: relative;
	background-color: #ffffff;
}

.logo {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -70px;
}

.main-navigation ul a {
	color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.main-navigation ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
	padding: 15px 0px;
}

.main-navigation {
	padding-left: 72px;
	padding-right: 72px;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 240px;
	font-size: 14px;
	line-height: 26px;
}

.main-navigation li:nth-child(2) {
	margin-right: 96px;
}

.main-navigation li:nth-child(n+3) {
	text-align: right;
}

.main-background {
	width: 1200px;
	height: 432px;
	padding-top: 77px;
	text-align: center;
	background-image: url(../img/teeth.png), url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: bottom, 0px -55px;
}

.about-sedona {
	width: 567px;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 35px;
	margin-right: auto;
	margin-left: auto;
}

.about-sedona p{
	padding-top: 15px;
}

.features-item {
	width: 400px;
	min-height: 222px;
	float: left;
	text-align: center;
	padding-top: 34px;
	background-color: #eeeeee;
}

.features-item p {
	padding-left: 59px;
	padding-right: 59px;
}

.features-item h2 {
	padding: 0px 120px;
}

.features-item-background {
	width: 800px;
	height: 256px;
	float: left;
}

.advantage-item {
	width: 400px;
	float: left;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 64px;
}

.advantage-item p {
	padding-left: 73px;
	padding-right: 73px;
}

.interested {
	width: 576px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.interested h2 {
	font-size: 30px;
	line-height: 24px;
	padding-top: 31px;
	padding-bottom: 10px;
}

.interested p {
	font-size: 14px;
	line-height: 24px;
	padding-bottom: 30px;
}

.search {
	position: relative;
	width: 568px;
	margin-right: auto;
	margin-left: auto;
	background-color: #766357;
	text-align: center;
/*	padding-top: 30px;
	padding-bottom: 25px;*/
}

.search a {
	display: block;
	padding: 30px 0px;
	font-size: 21px;
	line-height: 26px;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
}

.popup {
	width: 568px;
	position: absolute;
	left: 50%;
	margin-left: -284px;
	background-color: #ffffff;
	display: inline-block;
}

.popup form {
	padding: 55px;
	margin-bottom: 80px;
	font-size: 0px;
}

.sub-input {
	width: 96px;
	display: inline-block;
  margin-bottom: 36px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.sub-input-right {
	margin-left: 50px;
}

.sub-input-left {
	margin-right: 20px;
}

.style-input {
	display: inline-block;
	width: 346px;
  min-height: 38px;
  text-align: left;
  text-transform: uppercase;
  border: none;
  outline: none;
  margin-left: 15px;
  background-color: #f2f2f2;
  font-size: 14px;
  font-weight: bold;
}

.date-wrapper {
	display: inline-block;
	position: relative;
}

.people-wrapper {
	display: inline-block;
	position: relative;
	width: 90px;
}

.small-input {
	width: 50px;
	margin-left: 25px;
}

.date-btn {
	position: absolute;
	right: 0px;
	font-size: 0px;
	width: 38px;
	height: 38px;
	cursor: pointer;
	border: 0px;
	background: #f2f2f2;
	background-image: url(../img/date-logo.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.btn-less {
	position: absolute;
	left: -5px;
	font-size: 25px;
	font-weight: bold;
	color: #a9a9a9;
	width: 30px;
	height: 40px;
	cursor: pointer;
	border: 0px;
	background: #f2f2f2;
}

.btn-more {
	position: absolute;
	font-size: 25px;
	font-weight: bold;
	color: #a9a9a9;
	width: 30px;
	height: 40px;
	cursor: pointer;
	border: 0px;
	background: #f2f2f2;
}

.btn-input {
	display: block;
	position: absolute;
  left: 50%;
  width: 458px;
  margin-left: -229px;
  min-height: 58px;
  bottom: 53px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  outline: none;
  background-color: #81b3d2;
  font-size: 21px;
  font-weight: bold;
}

.container {
	position: relative;
	box-shadow: 0 0 25px 10px #dedede;
}

.main-footer {
	width: 1200px;
	position: absolute;
	opacity: 0.9;
	background: white;
	bottom: 0px;
}

.main-footer-down {
	position: static;
}

.footer-tag {
	width: 240px;
	float: left;
	padding-top: 50px;
	padding-bottom: 55px;
	padding-left: 130px;
	margin-right: 88px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.footer-social {
	width: 400px;
	float: left;
	padding-top: 36px;
	text-align: center;
}

.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin-right: 4px;
	font-size: 0px;
	vertical-align: top;
	background-color: #81b3d2;
}

.social-btn-fb {
	background-image: url(../img/spritesheet.png);
	background-position: 4px -142px;
}

.social-btn-tw {
	background-image: url(../img/spritesheet.png);
	background-position: 7px -106px;
}

.social-btn-yt {
	background-image: url(../img/spritesheet.png);
	background-position: 3px -177px;
}

.footer-copyright {
	width: 241px;
	float: right;
	padding-top: 50px;
}

.footer-copyright a {
	font-size: 0px;
	display: block;
	float: right;
	width: 160px;
	height: 39px;
	background-image: url(../img/html-logo.png);
	background-repeat: no-repeat;
}

.search-options {
	padding-left: 73px;
	float: left;
	width: 182px;
}

.search-options h2 {
	margin-top: 20px;
	margin-bottom: 24px;
	font-size: 16px;
}

.search-options p {
  margin-bottom: 25px;
}

.price-options {
	float: right;
	margin-right: 72px;
	text-align: center;
  color: #ffffff;
}

.price-options h2 {
	margin-top: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 16px;
}

.search-panel {
	background-image: url(../img/hotel-page-background.jpg);
	min-height: 215px;
	margin-bottom: 30px;
}

.sorting {
	margin-bottom: 30px;
}

.sorting h2{
	padding-left: 73px;
	display: inline;
}

.arrow-up {
	float: right;
}

.arrow-down {
	float: right;
}

.results-logo{
	width: 135px;
	float: left;
	padding-left: 73px;
	background-color: yellow;
}

.results {
	clear: both;
	outline: 1px solid red;
}

.results-about {
	width: 393px;
	float: left;
	background-color: yellow;
}

.results-column {
	float: left;
}

.results-column span {
	display: block;
}

.rating {
	width: 241px;
	float: right;
	background-color: yellow;
}

.blue-item {
	background-color: #81b3d2;
	color: #ffffff;
}

.blue-item h2{
	color: #ffffff;
}